[CENTER][IMG]{show,minibanner_url}[/IMG]
[FONT="Franklin Gothic Medium"][SIZE="6"][COLOR="RoyalBlue"]{show,name}[/COLOR][/SIZE][/FONT]
[COLOR="SlateGray"][SIZE="3"]{show,tagline|show,artists_tagline|show,artists_human}[/SIZE][/COLOR]
[URL="http://www.di.fm/calendar/event/{id}"][SIZE="1"]About this show[/SIZE][/URL]

Post your comments, rate the show and enjoy![/CENTER]